/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 30px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header""status""main";
    background-color: #3B3C40;
}

/* HEADER */
header { grid-area: header; }

#div-status {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: status;
    background-color: black;
}

/* STATUS */
#div-status > label {
    overflow: hidden;
    font-size: 1.5vw;
    word-break: break-all;
    color: #F2F2F2;
}

/* MAIN */
main { grid-area: main; padding: 10px 10%;}
#content {height: 100%; border-radius: 3px; background-color: #F2F2F2;}

/* MENU */
#menu-bar { display: flex;}
#menu-bar div { display: flex; justify-content: space-around; padding: 10px;}
#switchs { width: 85%;}
#icons { width: 15%;}

/* MAIN TABLE */
#div-table { margin-left: 18px;}

#table-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    background-color: #BFBFBF;
}
#table-head span {
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    border: 0.15px solid black;
}

#table-body { overflow-y: scroll; height: calc(100vh - 190px);}

table { width: 100%;}

tr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}
tr:hover { background-color: #BFBFBF; color: black;}
tr:hover td { background-color: #BFBFBF;color: black;}

td {
    width: 100%;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 600;
}
td:nth-child(odd) { background-color: rgb(240, 235, 235);}

.selected td{ background-color: #575759;color: #F2F2F2;}

/* buttons */
.switch {
    border-style: none;
    width: 6vw;
    height: 2vw;
    border-radius: 6px;
    font-size: 1vw;
    font-weight: 700;
    margin: 0 5px;
    background-color: #575759;
    color: #F2F2F2;
}
.switch:hover { border-style: outset; cursor: pointer; background-color: black;}

.on { background-color: black;}

/* imagens */
.icon {
    width: 2vw;
    height: 2vw;
    display: inline-block;
    background-size: contain;
}
.icon:hover {   border: 1px solid rgb(0, 0, 0); }
.new-icon {     background-image: url("/assets/image/icon/new-icon.png");}
.edit-icon {    background-image: url("/assets/image/icon/edit-icon.png");}
.delete-icon {  background-image: url("/assets/image/icon/delete-icon.png");}

/*DIV INCLUDE FORM */
.hidden {display: none;}

.reveal {
    z-index: 100;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(190,190,190, 0.8);
}

#content-form {
    height: 90%;
    width: 40%;
    border: 1.5px solid black;
    border-radius: 5px;
}


