/* GENERAL */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-rows: 10% 1fr auto;
	grid-template-columns: 1fr;
	grid-template-areas: 'header''blocks''alert';
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 100vh;
	background-color: black;
	color: #F2F2F2;
}

h1 {
	font-size: 6vh;
}

h2 {
	font-size: 4vh;
	font-weight: 100;
}

h4 {
	text-align: center;
}

/* HEADER */

header {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	margin: 0.25vw;
	padding: 0 1vw;
	background-color: #3B3C40;
}

.reason {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 8.5vw;
	font-size: 1.9vw;
	padding: 0.5vh 0;
}

/* CONTENT */

#main {
	grid-area: blocks;
	display: grid;
	grid-template-rows: repeat(3, 33.3333%);
	grid-template-columns: repeat(2, 50%);
}

.region {
	display: grid;
	grid-template-columns: 1.6vw 1fr;
	background-color: #3B3C40;
	margin: 0.25vw;
	border-radius: 0.5vw;
}

.region-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	word-break: break-all;
	font-size: 2.7vh;
	color: #BFBFBF;
}

.block {
	overflow: hidden;
}

.grid4 {
	/* Se tiver até de 4 bases */
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(4, 25%);
	font-weight: 900;
	font-size: 4vw;
}

.grid4 .dot {
	height: 4vh;
	width: 4vh;
	background-size: cover;
}

.grid12 {
	/* Se tiver mais de 4 bases */
	display: grid;
	grid-template-rows: repeat(2, 50%);
	grid-template-columns: repeat(6, 16.6%);
	font-size: 3.2vw;
}

.grid12 .dot {
	height: 2.2vw;
	width: 2.2vw;
	background-size: cover;
}

.brick {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	overflow: hidden;
	word-break: break-all;
	margin: 0.1vw;
}

.xfuel {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.xfuel:hover {
	border-radius: 0.5vw;
	background-color: #000;
}

/* INFOADD - IMPLEMENTAR*/

footer {
	grid-area: alert;
	display: none;
	background-color: rgb(0, 0, 0);
}

.row-alert {
	display: grid;
	grid-template-columns: 10% 90%;
}

.cell-alert {
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	height: 6vh;
	margin: 2px;
	background-color: #3B3C40;
	border-radius: 4px;
	font-size: 2vw;
}

.cell-alert .dot {
	height: 1.5vw;
	width: 1.5vw;
	background-size: cover;
}

/* Borders */

.wxx-border {
	border-radius: 0.5vw;
	border: 0.15vw solid rgb(30, 90, 135);
}

.atc-border {
	border-radius: 0.5vw;
	border: 0.15vw solid rgb(120, 100, 30);
}

.other-border {
	border-radius: 0.5vw;
	border: 0.1vw solid #BFBFBF
}

/* Dots */

.green {
	background-image: url("/assets/image/img/dot/green-dot.png");
}

.yellow {
	background-image: url("/assets/image/img/dot/yellow-dot.png");
}

.red {
	background-image: url("/assets/image/img/dot/red-dot.png");
}

.white {
	background-image: url("/assets/image/img/dot/white-dot.png");
}