form {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    background-color: papayawhip;
}

#form-head {
    display: grid;
    min-height: 70px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 50%);
    width: 100%;
    padding: 5px;
    background-color: #161657;
    color: snow;
}

#menu-buttons {
    /* grid-row: 1; */
    display: flex;
    justify-content: flex-end;
}

#form-head #messages {
    grid-column: 1 / 3;
    grid-row: 2;
    width: 100%;
    font-size: small;
    color: rgb(255, 0, 0);
}


button {
    font-weight: bolder;
    padding: 2px;
    text-align: center;
    height: 1.5vw;
}

.row {
    width: 100%;
    display: flex;
    justify-content: left;
}

.alert {
    background-color: rgba(190, 50, 50, 0.3);
    /* border: 1.5px solid red; */
}

label {
    font-size: larger;
    font-weight: 800;
    width: 350px;
    margin-right: 15px;
    text-align: right;
}

[size-default]{
    width: 8vw;
    height: 2vw;
    font-size: large;
    font-weight: 600;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

#rmk-field {
    width: 40%;
    height: 6vw;
    font-size: large;
}
