/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 30px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header""nav""main";
    background-color: black;
}

[center] {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    position: relative;
    width: 100%;
}

tr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5px 0;
    font-size: 1.6vw;
    font-weight: bold;
}

td {
    width: 100%;
    text-align: center;
    border-top: 0.25px solid black;
    border-bottom: 0.25px solid black;
}


/* HEADER */
header { grid-area: header; }


/* NAVIGATION */
nav {
    grid-area: nav;
    padding: 0 12.5%;
    background-color: #161657;
    color: snow;
}

nav a {
    color: snow;
    text-decoration: none;
    margin: 0 5px;
}

#div-msg {
    width: 80%;
    font-size: 1.3vw;
    word-break: break-all;
    overflow: hidden;
}


/* MAIN */
main {
    grid-area: main;
    height: calc(100vh - 90px);
    padding: 10px 15%;
}

#content {
    height: 100%;
    width: 100%;
    border-radius: 2.5px;
    background-color: snow;
}

#menu-bar { padding: 0.5vw; }

#div-options { width: 85%; }

#action-menu {
    width: 15%;
    display: flex;
    justify-content: space-around;
}


/* MAIN TABLE */
#xfuel-table {
    display: grid;
    grid-template-rows: 2vw 1fr;
    /* position: relative; */
}

#table-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 18px 0 2px;
}
#table-head span {
    width: 100%;
    text-align: center;
    font-size: 1.6vw;
    font-weight: bold;
    border: 0.15px solid black;
    background-color: papayawhip;
}

#table-body {
    overflow-y: scroll;
    height: calc(100vh - 215px)
}
#table-body tr {
    font-weight: normal;
    cursor: pointer;
}
#table-body tr:hover {
    background-color: rgb(180, 180, 200);
    color: black;
}
#table-body tr:hover td {
    background-color: rgb(180, 180, 200);
    color: black;
}
#table-body td:nth-child(odd) {
    background-color: rgba(150, 150, 100, 0.1);
}



/* buttons */
.switch {
    width: 6vw;
    height: 2vw;
    border-radius: 5px;
    font-size: 0.8vw;
    font-weight: 900;
    margin: 0 5px;
}

.on {
    border-style: ridge;
    background-color: #161657;
    color: snow;
}

.off {
    border-style: none;
    border: 1.5px solid rgb(173, 202, 235);
    background-color: papayawhip;
    color: black;
}


/* imagens */

.icons {
    width: 1.8vw;
    height: 1.8vw;
    background-size: contain;
}

.icons:hover { border: 1px solid rgb(0, 0, 0); }

.new-icon { background-image: url("/assets/images/icons/new-icon.png");}
.edit-icon { background-image: url("/assets/images/icons/edit-icon.png");}
.delete-icon { background-image: url("/assets/images/icons/delete-icon.png");}


/* CUSTOMIZED ROWS */

.selected {
    background-color: #161657;
    font-weight: 800;
    color: snow;
}

/* FORM INSERT */
.hidden {
    display: none;
}

.reveal {
    z-index: 100;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(190,190,190, 0.8);
}

#content-form {
    height: 90%;
    width: 40%;
    display: grid;
    grid-template-rows: 15% 85%;
    border: 1.5px solid black;
    border-radius: 5px;
}
